body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

input, select{
    margin-bottom: 13px;
    width: 300px;
    height: 30px;
}

input[type="submit"]{
    width: 100px;
}